@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
h1{
    color: red;
}
/*
font-family: font1, font2, font3
font-style: normal|italic
font-size: 18px
font-weight: normal |bold| 700 | 900 | 400 | 600
 */